* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: white;
}

header {
    height: 60px;
    padding: 0 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #161b22;
    border-bottom: 1px solid #30363d;
}

.logo {
    font-weight: bold;
}

#status {
    color: #ff6b6b;
    font-size: 14px;
}

.online {
    color: #4ade80 !important;
}

main {
    min-height: calc(100vh - 100px);
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

.hero {
    max-width: 700px;
    margin: 70px auto;
    text-align: center;
}

.icon {
    font-size: 65px;
}

h1 {
    font-size: 32px;
}

p {
    color: #aeb6c2;
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin: 20px 0;
}

button {
    border: 0;
    border-radius: 12px;
    padding: 14px 20px;

    background: #2563eb;
    color: white;

    font-size: 16px;
    font-weight: bold;
}

button:active {
    transform: scale(.97);
}

.back {
    background: #30363d;
}

.card {
    max-width: 900px;
    margin: 25px auto;

    padding: 22px;

    background: #161b22;

    border: 1px solid #30363d;
    border-radius: 18px;
}

video {
    width: 100%;
    max-height: 500px;

    background: black;

    border-radius: 14px;
}

textarea {
    width: 100%;
    min-height: 130px;

    margin: 10px 0 15px;

    padding: 12px;

    border-radius: 10px;

    border: 1px solid #30363d;

    background: #0d1117;
    color: white;

    font-family: monospace;
    font-size: 13px;

    resize: vertical;
}

.remote-container {
    position: relative;
    margin-top: 25px;
}

#remoteVideo {
    display: block;
}

#fullscreen {
    position: absolute;

    right: 12px;
    bottom: 12px;

    background: rgba(0,0,0,.7);
}

footer {
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #6e7681;

    font-size: 12px;
}

@media(max-width:600px) {

    h1 {
        font-size: 26px;
    }

    .hero {
        margin-top: 40px;
    }

    .card {
        padding: 16px;
    }

}
